
@import 'mediaquerries';

//Clase asignada para el icono y darle un tamaño tanto en escritorio como en movil
.icono{
  width: 25%;
  height: 25%;
  margin: 2%;
  margin-left:39%;

  @include desktop{
     width: 20%;
     height: 20%;
     margin-left: 32%;
  }
}

//clase para las imagenes de objetivo
.imagen-objetivo{
   width: 96%;
   height: 30%;
}


.imagenes-objetivo{
  width: 96%;
  height: 30%;
}

//Hero declarado para ajustar una imagen dentro del apartado de somos
.hero{
   position: relative;
   width:100%;
    @include mobile{
     min-height: 70vh;
    }
   
    &__content{
     position: relative;;
     z-index:5;
      @include mobile{
        margin-left:0%;
        width: 100%;
      }
      @include desktop{
        width:100%;
        right:0;
        position: relative;
      }
    }


  &__background{
    position: relative;;
    height: 100%;
    
    @include desktop{
      width: 100%;
      position: relative;
    }
    overflow: hidden;
    .image{ 
      object-fit: cover;
      @include mobile{
       margin-top:10%;
       width: 80%;
       margin-left:10%;
      }
      //object-position: right bottom;
      @include desktop{
        object-position: bottom center;
        position: relative;
        bottom:-21px;
        left:18%;
        max-width:77%;
        max-height: 100%;
      }
    }
  }
}