:root{
   --color-header: #cbcac2;
   --color-texto: black;
   --color-somos: #fafaf1;
   --color-objetivo: #222c3e;
   --color-text: white;
   --color-footer:  #2e4053;
   --formulario:  #566573;
   --facebook: #3b5999;
   --instagram: #e4405f;
   --twitter: #55acee;
   --pinterest: #bd081c;
   --linkedin: #0077B5;
   --color-redes: #333;
}

//importamos otras hojas de estilos, ademas de una fuente de google fonts para darle estilo al contenido.
@import 'mediaquerries';
@import 'imagenes';
@import 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap';

//clase para el header, usando flex para el icono y el menu
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: var(--color-header);
    
    .espacio{
      &.izquierda{
        width: 100%;

        @include desktop{
          width: 50%; 
        }
      }

      &.derecha{
        width: 100%;

        @include desktop{
          width: 50%;
        }  
      }
    }

}

body{
  margin: 0 0 0 0;
}

//clase flex para el apartado de somos y componer los elementos que tendran dentro
.somos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--color-somos);

  .contenido{
    &.columna1{
      width: 100%;

      @include desktop{
        width: 50%;
      }
    }

    &.columna2{
      width: 100%;

      @include desktop{
        width: 50%;
      }
    }
  }
}

//clase de prueba para una imagen
.svg {
  position: relative;
  width: 100%;
  height: 100%;
} 
.clip-personalizado{
  width: 100%;
  height: 100vh;
  background: black url(../images/ejemplo-fondo.jpg);
  background-size: cover;
  -webkit-clip-path: url(#mi-clip-path);
  clip-path: url(#mi-clip-path);
}

//clase para la sección objetivo
.objetivo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--color-objetivo);

  .espacio{
    &.columna1{
      width: 100%;

      @include desktop{
        width: 75%;
      }
    }

    &.columna2{
       width: 100%;

       @include desktop{
         width: 25%;
       }
    }
  }
}

//clase para estilizar el texto de la sección somos
.texto{
  color: var(--color-texto);
  font-size: 33px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  line-height: 50px;
  margin:12%;
}

.text-objetivo{
  color: var(--color-text);
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  line-height: 50px;
  margin: 11%;

  @include desktop{
    font-size: 35px;
    margin: 3%;
  }
}

//botones para el menu, encargando tengan una flexibilidad y una vista tanto de escritorio como en movil
.botones-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15em;
  font-size:23px;
  overflow: hidden;
  margin: 4%;
  &__item{
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    width:45%;
    @include desktop{
      width: 25%;
    }
  }
  @include desktop {
    font-size: 30px;
  }
}

//color recibido para colorear el texto de los enlaces de los botones del header
.enlace{
  color: var(--color-texto);
}

//Clase para estructurar los elementos en el footer
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--color-footer);

  .content{
    &.columna1{
      width: 100%;

      @include desktop{
        width: 33%;
      }
    }

    &.columna2{
      width: 100%;

      @include desktop{
        width: 33%;
      }
    }
    
    &.columna3{
      width: 100%;

      @include desktop{
        width: 33%;
      }
    }
  }
}

//clase para el formulario

.formulario {
  background-color: var(--formulario);
  height: 520px;
}

//Aqui aclaramos que tanto el botton, los inputs y el text area tengan un estilo, ademas de quitar el borde.
.formulario form button,
.formulario form input,
.formulario form textarea {
  width: 80%;
  padding: .7em;
  border: none;
  outline: 0;
  border-bottom: 1px solid var(--color-redes);
  font-family: 'Dancing Script', cursive;
}

//para la estructura de los datos
.contact-form{
  width: 90%;
  margin:1rem;
  font-family: 'Dancing Script', cursive;
  .item{
    padding:1rem;
    width:80%;
    display:block;
  }
  .label{
    font-size:1rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    border: 0;
    width:90%;
    padding:1rem;
  }
  textarea{
    border: 0;
    width:90%;
    padding:1rem;
  }
  button{
    background-color: var(--color-redes);
    width:auto;
    border-radius: 1rem;
    color:white;
    border:0;
  }

}

//clase para el contenedor de redes
.redes-contenedor{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--color-footer);
}

.redes-contenedor ul li{
  display: block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;

  @include desktop{
    display: inline-block;
  }
}

.redes-contenedor ul li a{
  display: block;
  padding: 0 10px;
  background-color: var(--color-redes);
  color: var(--color-text);
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  transition: .2s;
}

.redes-contenedor ul:hover a{
   filter: blur(2px);
}

.redes-contenedor ul li a:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
  filter: none;
}

.redes-contenedor ul li .facebook:hover{
  background-color: var(--facebook);
}

.redes-contenedor ul li .instagram:hover{
  background-color: var(--instagram);
}

.redes-contenedor ul li .twitter:hover{
  background-color: var(--twitter);
}

.redes-contenedor ul li .pinterest:hover{
  background-color: var(--pinterest);
}

.redes-contenedor ul li .linkedin:hover{
  background-color: var(--linkedin);
}

//Clase de pruebas para practicar flex

.seccion{
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;


  .columna{
     &.informacion{
       width: 100%;
      
       @include desktop{
         width: 50%;
       }

     }
     
    &.espacio-texto{
      width: 100%;

      @include desktop
      {
        width: 50%;
      }
    }
  }

 .contenedor{
    background-image: url(../images/ejemplo-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 0rem;
    color:white;
    z-index: 5;
    position:relative;
    padding:0rem 4rem 0rem 2rem;
    @include desktop{
      padding:3rem 10rem 3rem 3rem;
      
    }
    .section-title{
        font-size:1rem;
    }
    .conocimiento{
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
        align-items:center;
        margin:0; padding: 0;
        @include mobile{
            border-bottom:1px solid white;
        }
        @include desktop{
            flex-flow: row;

        }
        .titulo{
            
            width:100%;
            margin:1rem 0;
            font-size: 1rem;
            @include desktop{
                margin:0;
                text-align:right;
                padding-right:1rem;
                width:50%;
                flex-shrink: 0;
                font-size: 2rem;
            }
        }
        .descripcion{
            margin:0;
            padding:0rem 0 0rem 0;
            font-size:1.2rem;
            
            @include mobile{
              width:100%;
            }
            
            @include desktop{
              border-left:1px solid white;
              padding:2rem 0rem 0rem 4rem;
              font-size: 1.2rem;
            }
        }
    }

  }  

}